.manager{ 
    font-size: 1rem;
    justify-items: center;
    background-color: transparent;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 650px; /*Size for height is currently fixed*/
    margin-bottom: 15px;
}

.manager .manager-title{
    background: linear-gradient(0deg, #440D0F, #F5853F);
    justify-self: center;
    font-size: 2.5rem;
    color: white;    
} 

.maganer .manager-body{
    display: block;
    justify-self: center;
}

.login{
    background: linear-gradient(deg0, #F5853F, #440D0F);
    font-size: 1rem;
    justify-items: center;
    background-color: transparent;
    margin-left: 2rem;
    margin-right: 2rem;
}
  
.login .login-title{
    justify-self: center;
    font-size: 2.5rem;
    color: black;
    /* background-color: lightgray;*/
}

.login .login-group {
    text-align: left;
    font-size: 16px;
}

.login-box{
    display: inline-block;
    border-radius: 25px;
    padding: 20px;
    height: 400px;
    width: 300px;
    left: 50%;
    background-color: white;
}

.login .signin{
    bottom: 10px;
}
