.kitchen{
    font-size: 1rem;
    background-color: lightgray;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 100%;
}

.kitchen-title{
    justify-self: center;
    font-size: 2.5rem;
    color: black;
    background-color: lightgray;
}


.active-orders{
    position: relative;
    outline: black solid 2px;
    width: 89%;
    background-color: white;
    float: right;
    overflow-y: auto;
    padding-bottom: 100px;
}

.queue-title{
}

.queue-button{
    width: 90%;
    height: 75px;
}

.order-queue{
    position: relative;
    outline: black solid 2px;
    width: 10%;
    background-color: white;
    float: left;
    min-width: 75px;
    padding-bottom: 100px;
}

.order{
    position: relative;
    outline: black solid 2px;
    outline-offset: -5px;
    width: 45%;
    left: 3%;
    right: -2.5%;
    padding: 1%;
    float: left;
}

.ready-button{
    position: absolute;
    right: calc(1% + 5px);
    bottom: calc(3% + 5px);
}

.order-table{
    font-weight: normal;
}

.item-name{
    margin: 0;
    padding:0;
}

.item-comments{
    margin: 0;
    padding:0;
    font-size: 14px;
}

.item{
    text-align: left;
}

.done{
    border-radius: 50%;
    background-color: black;
}