.manager{
    background: linear-gradient(deg0, #F5853F, #440D0F);
    font-size: 1rem;
    justify-items: center;
    background-color: lightgray;
    margin-left: 2rem;
    margin-right: 2rem;
}

.manager-title{
    width: 200px;
    height: 100px;
    padding: 16px 16px;
    margin-left: 10px;
    margin-bottom: 10px;
} 