.tableButton{
    width: 200px;
    height: 100px;
    padding: 16px 16px;
    margin-left: 10px;
    margin-top: 10px;
}

.orderButton{
    margin-right: 10px;
}

.tablesView{
    background-color: lightgray;
    font-size: 28px;
    text-align: center;
}