.ChangeLog{
    position: relative;
    background-color: gray;
    height: 500px;
    margin: 0;
}

.logDisplay{
    height: 80%;
    width: 90%;
    background: white;
    margin-left: 5%;
    overflow-y: auto;
}

