.DSR{
    position: relative;
    background-color: gray;
    height: 650px;
    margin: 0px;
}

.DSR-visual{
    position: absolute;
    float: left;
    left: 10px;
    height: 80%;
    width: 70%;
    background: white;
    border: 1px solid #440D0F;
    overflow-y: auto;
}

.DSR-visual .header{
    background: lightgray;
    border: 5px solid lightgray;
}

.DSR-visual .discription-bar{
    background: lightgray;
    border: 1px solid black;
}


.DSR-date{
    position: absolute;
    text-align: left;
    float: right;
    right: 10px;
    height: 80%;
    width: 25%;

}

.DSR-date .block{
    height: 10%;
    width: 100%;
    background: white;
    border: 1px solid #440D0F;
}

.quantity {
    height: 100%;
    width: 25%;
    justify-self: start;
    float: left;
}

.price {
    height: 100%;
    width: 25%;
    justify-self: start;
    float: left;
}

.profit{
    height: 100%;
    width: 25%;
    justify-self: start;
    float: left;
}