
input {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.ManagerLogin {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}